server:
  port: 8082

spring:
  application:
    name: inventory-service
  datasource:
    url: jdbc:h2:file:./data/inventorydb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true

app:
  api-key: inventory-service-key-456
  product-service:
    url: http://localhost:8081
    api-key: product-service-key-123
    timeout: 5000
    max-retries: 3

logging:
  level:
    com.linktic.microservice.inventario: DEBUG
